.register {
  padding: 74px 0 70px;
  margin: 0 auto;
  background-color: #202020;
  max-width: 396px;
  min-height: 100vh;
  box-sizing: border-box;
}

.register__form {
  max-width: 396px;
  width: 100%;
  margin: 0 auto;
}

.register__logo {
  display: flex;
  margin: 0;
}

.register__title {
  margin: 0;
  margin-top: 40px;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.register__labels {
  margin: 0;
  margin-top: 40px;
}

.register__label {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.register__text {
  margin: 0;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #8b8b8b;
}

.register__input {
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
  height: 45px;
  border-radius: 8px;
  background: #2f2f2f;
  border: 0;
  padding-left: 15px;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #fff;
  outline: none;
  cursor: pointer;
}

.register__input:hover {
  border: 1px solid #4285f4;
}

.register__error {
  margin: 0;
  color: #ee3465;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.register__button {
  width: 100%;
  margin: 0;
  padding: 0;
  margin-top: 68px;
  border-radius: 3px;
  height: 45px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background-color: #4285f4;
  color: #fff;
  border: none;
  outline: none;
}

.register__button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.register__block {
  margin: 0;
  display: block;
  margin-top: 16px;
  color: #8b8b8b;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  gap: 6px;
}

.register__link {
  color: #4285f4;
  text-decoration-line: none;
  margin-left: 6px;
}

.register__link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .register {
    padding: 236px 0 269px;
  }
}

@media screen and (max-width: 430px) {
  .register {
    padding: 56px 0 30px;
  }

  .register__form {
    max-width: 260px;
    width: 100%;
  }

  .register__title {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }

  .register__labels {
    margin-top: 80px;
  }

  .register__button {
    margin-top: 155px;
    font-size: 12px;
  }

  .register__block {
    font-size: 12px;
  }
}
